
:root {
  --color-main: #55928c;
  --color-background: #ddddcc;
  --color-shadow: #04272570;
  --color-button: #c4f5f0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
}

